.jumbotron {
	background: #E8D2BB;
}

body {
	background: #a3d1bb;
}

hr {
	border-color: inherit;
	    margin: 1em 0;
}

#resultsModal img {
	overflow: hidden;
	width: 500px;
}

.homeTag {
  text-align:center;
}

.homeTag2 {
  text-align:center;
}

h2 {
  text-align:center;
}

.survey-nav{
   position:relative;
   left:30em;
}
